# Instalando bibliotecas

In [1]:
!pip install pandas
!pip install numpy
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (1.23.5)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.10/site-packages (3.7.0)
Requirement already satisfied: numpy>=1.20 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from matplotlib) (23.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

# Importando bibliotecas

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## 1º Passo

##### Baixando e importando o dataset do Kaggle

Acesse este [link](https://www.kaggle.com/datasets/themrityunjaypathak/top-youtube-artist), baixe o dataset e armazene na pasta "./arquivos/". Depois execute o comando abaixo.

In [3]:
df = pd.read_csv('./arquivos/topyoutube.csv')

df

               Artist Total Views  100M     Avg
0                 BTS    27,947.9  63.0   7.370
1           Bad Bunny    27,573.4  66.0  14.555
2       Justin Bieber    27,399.7  37.0   3.986
3          Ed Sheeran    26,894.0  39.0   4.609
4        Taylor Swift    24,350.0  38.0   5.716
...               ...         ...   ...     ...
1582  Pietro Lombardi       204.1   NaN   0.022
1583            Duffy       203.2   NaN   0.020
1584          Psirico       201.1   1.0   0.039
1585       Alex Clare       200.8   NaN   0.020
1586       The Avener       200.5   NaN   0.036

[1587 rows x 4 columns]

## 2º Passo
##### Tratando as colunas sem informação adicionando o texto “Não informado”.

In [4]:
df.fillna("Não informado", inplace=True)

In [5]:
df

               Artist Total Views           100M     Avg
0                 BTS    27,947.9           63.0   7.370
1           Bad Bunny    27,573.4           66.0  14.555
2       Justin Bieber    27,399.7           37.0   3.986
3          Ed Sheeran    26,894.0           39.0   4.609
4        Taylor Swift    24,350.0           38.0   5.716
...               ...         ...            ...     ...
1582  Pietro Lombardi       204.1  Não informado   0.022
1583            Duffy       203.2  Não informado   0.020
1584          Psirico       201.1            1.0   0.039
1585       Alex Clare       200.8  Não informado   0.020
1586       The Avener       200.5  Não informado   0.036

[1587 rows x 4 columns]

## 3º Passo

##### Formatar a coluna de total de views multiplicando por 1 milhão.

In [6]:
# Substituindo a vírgula por nada para converter corretamente para float
df['Total Views'] = df['Total Views'].str.replace(',', '').astype(float)

# Agora multiplicando por 1.000.000
df['Total Views'] = df['Total Views'] * 1000000

In [7]:
df

               Artist   Total Views           100M     Avg
0                 BTS  2.794790e+10           63.0   7.370
1           Bad Bunny  2.757340e+10           66.0  14.555
2       Justin Bieber  2.739970e+10           37.0   3.986
3          Ed Sheeran  2.689400e+10           39.0   4.609
4        Taylor Swift  2.435000e+10           38.0   5.716
...               ...           ...            ...     ...
1582  Pietro Lombardi  2.041000e+08  Não informado   0.022
1583            Duffy  2.032000e+08  Não informado   0.020
1584          Psirico  2.011000e+08            1.0   0.039
1585       Alex Clare  2.008000e+08  Não informado   0.020
1586       The Avener  2.005000e+08  Não informado   0.036

[1587 rows x 4 columns]

## 4º Passo

##### Formatar coluna “AVG” para 2 casas decimais depois da vírgula.

In [8]:
df['Avg'] = df['Avg'].round(2)

In [9]:
df

               Artist   Total Views           100M    Avg
0                 BTS  2.794790e+10           63.0   7.37
1           Bad Bunny  2.757340e+10           66.0  14.56
2       Justin Bieber  2.739970e+10           37.0   3.99
3          Ed Sheeran  2.689400e+10           39.0   4.61
4        Taylor Swift  2.435000e+10           38.0   5.72
...               ...           ...            ...    ...
1582  Pietro Lombardi  2.041000e+08  Não informado   0.02
1583            Duffy  2.032000e+08  Não informado   0.02
1584          Psirico  2.011000e+08            1.0   0.04
1585       Alex Clare  2.008000e+08  Não informado   0.02
1586       The Avener  2.005000e+08  Não informado   0.04

[1587 rows x 4 columns]

## 5º Passo

##### Mostrar os top 10 usuários.

In [10]:
print(df.sort_values('Total Views', ascending=False).head(10))

          Artist   Total Views  100M    Avg
0            BTS  2.794790e+10  63.0   7.37
1      Bad Bunny  2.757340e+10  66.0  14.56
2  Justin Bieber  2.739970e+10  37.0   3.99
3     Ed Sheeran  2.689400e+10  39.0   4.61
4   Taylor Swift  2.435000e+10  38.0   5.72
5        Shakira  2.396180e+10  43.0   7.84
6     Katy Perry  2.355340e+10  25.0   3.18
7          Ozuna  2.252480e+10  49.0   4.93
8         Eminem  2.093770e+10  38.0   5.84
9  Ariana Grande  2.061850e+10  37.0   3.37

## 6º Passo

##### Mostrar primeiros 100 usuários por nome decrescente.

In [11]:
pd.set_option('display.max_rows', 100)

print(df.sort_values('Artist', ascending=False).head(100))

                          Artist   Total Views           100M   Avg
1374                      Łobuzy  3.965000e+08            2.0  0.11
537                  İrem Derici  1.717300e+09            3.0  0.32
634                   Ñengo Flow  1.388800e+09            4.0  0.82
1032               Çağatay Akman  7.427000e+08            2.0  0.05
350                    will.i.am  2.582000e+09            6.0  0.30
56             twenty one pilots  1.014770e+10           14.0  2.03
1088                    t.A.T.u.  6.698000e+08            2.0  0.22
1184                      miss A  5.748000e+08            1.0  0.06
401                         iKON  2.247100e+09            3.0  0.32
954                        gnash  8.347000e+08            1.0  0.20
1215                        f(x)  5.449000e+08            1.0  0.04
955                     deadmau5  8.342000e+08  Não informado  0.09
464                    blink-182  1.962000e+09            5.0  0.45
1223                 back number  5.366000e+08            1.0  0.01
1566                  amazarashi  2.196000e+08  Não informado  0.05
411                         a-ha  2.202900e+09            1.0  0.75
410                  Zé Vaqueiro  2.203100e+09            7.0  0.99
731                   Zé Ramalho  1.204700e+09            3.0  0.35
57           Zé Neto e Cristiano  1.013350e+10           26.0  1.72
353                    Zé Felipe  2.553000e+09            8.0  2.40
326                          Zoé  2.756300e+09            6.0  0.81
541              Zouhair Bahaoui  1.705700e+09            3.0  0.49
215                Zion & Lennox  3.964300e+09            7.0  1.17
1267                     Zendaya  4.951000e+08            1.0  0.05
283                         Zedd  3.160800e+09           10.0  0.46
1194                Zay & Zayion  5.596000e+08            1.0  0.03
329                 Zara Larsson  2.729600e+09            4.0  0.30
747                  Zak Chumpae  1.174700e+09            3.0  0.04
1271                        Zaho  4.921000e+08            1.0  0.20
447                  Zack Knight  2.014300e+09            3.0  0.54
1177                         ZHU  5.838000e+08            2.0  0.18
1166                         ZAZ  5.963000e+08  Não informado  0.17
184                         ZAYN  4.503500e+09            5.0  0.86
253                      Yuridia  3.482000e+09            7.0  4.55
53    YoungBoy Never Broke Again  1.059370e+10           26.0  4.87
258                   Young Thug  3.425000e+09            8.0  0.93
1278                 Young Money  4.870000e+08            1.0  0.07
694                    Young M.A  1.267700e+09            2.0  0.17
1449                      Yohani  3.264000e+08            1.0  0.07
60             Yo Yo Honey Singh  9.522400e+09           32.0  3.36
621                     Yo Gotti  1.414700e+09            4.0  0.24
666                        Ylvis  1.325500e+09            1.0  0.14
1341           Yinglee Srijumpol  4.273000e+08            1.0  0.04
1108                  Yemi Alade  6.545000e+08            1.0  0.13
767                  Yellow Claw  1.127700e+09            3.0  0.17
784                  Yella Beezy  1.097700e+09            2.0  0.22
697                     Yelawolf  1.262100e+09            2.0  0.41
901                Years & Years  9.175000e+08            2.0  0.13
1556             Yeah Yeah Yeahs  2.303000e+08  Não informado  0.08
150             Yasmin Verissimo  5.341800e+09           15.0  2.46
889                Yash Narvekar  9.381000e+08            2.0  0.27
245                       Yandel  3.544300e+09            7.0  1.45
462                     YOUNGOHM  1.969000e+09            7.0  0.77
358                    YNW Melly  2.534200e+09            5.0  0.61
396                           YG  2.265600e+09            6.0  0.36
668                    YFN Lucci  1.320200e+09            2.0  0.31
1214                         Y2K  5.452000e+08            1.0  0.11
1572                      Xantos  2.127000e+08            1.0  0.03
71                  XXXTENTACION  8.823300e+09           18.0  1.62
967                X Ambassadors  8.208000e+08            2.0  0.19
1462                 Wyclef Jean  3.109000e+08            2.0  0.09
1411                     Woodkid  3.631000e+08            1.0  0.08
878                 Wonder Girls  9.584000e+08            2.0  0.17
589                      Wolfine  1.534000e+09            2.0  0.27
38                   Wiz Khalifa  1.217530e+10           13.0  1.90
1047           Within Temptation  7.199000e+08            1.0  0.20
158               Wisin & Yandel  5.158600e+09           14.0  1.87
142                        Wisin  5.578500e+09           12.0  0.96
627                Willy William  1.406900e+09            2.0  0.32
1558                Willow Smith  2.300000e+08            1.0  0.10
917                 Why Don't We  8.923000e+08            1.0  0.19
169              Whitney Houston  4.918700e+09           10.0  1.89
1333                  Whitesnake  4.380000e+08            2.0  0.09
1536                     Wheatus  2.464000e+08            1.0  0.08
571                        Wham!  1.580500e+09            2.0  0.31
361                     Westlife  2.515000e+09            6.0  0.84
85                Wesley Safadão  7.529700e+09           15.0  3.06
802            Weird Al Yankovic  1.070800e+09            2.0  0.23
1002                      Weezer  7.824000e+08            1.0  0.18
1430                    Warren G  3.507000e+08            1.0  0.10
1228                   Wanna One  5.312000e+08            1.0  0.04
811                         Wale  1.058100e+09            3.0  0.22
1453                Wagakki Band  3.198000e+08            1.0  0.04
709                       WINNER  1.244000e+09            1.0  0.12
1206               WALK THE MOON  5.515000e+08            1.0  0.08
1155                Vũ Duy Khánh  6.036000e+08            1.0  0.04
1171              Vázquez Sounds  5.899000e+08            1.0  0.04
535              Vremya i Steklo  1.721800e+09            5.0  0.14
675              Vitor Fernandes  1.299400e+09            3.0  0.53
1399                       Vitaa  3.736000e+08            1.0  0.07
287               Vishal Dadlani  3.122200e+09            9.0  0.72
257                     Violetta  3.428500e+09            4.0  0.26
1376              Village People  3.956000e+08            1.0  0.07
741                 Victor & Leo  1.178900e+09            2.0  0.37
749                    Vicentico  1.167900e+09            3.0  0.42
516                   Via Vallen  1.787500e+09            3.0  0.08
1507                Veysel Mutlu  2.774000e+08            1.0  0.03
1358                      Veysel  4.122000e+08  Não informado  0.06
891                    Vengaboys  9.348000e+08            3.0  0.34
864                    Vegedream  9.913000e+08            1.0  0.51

## 7º Passo

##### Salvar um novo CSV com a informação tratada.

In [12]:
df.to_csv('./arquivos/topyoutube_modificado.csv', index=False)

---

Notebook utilizado para fins educacionais da **Awari**.

**© AWARI. Todos os direitos reservados.**